@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/**
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}
**/